*{
    margin: 0;
    padding: 0;
}

.body{
    width: 100%;
    background-color: rgb(252, 252, 252);
}

.container{
    font-family: 'Kalam', cursive;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
    "header header header"
    "navbar navbar navbar"
    "main   main   aside"
    "main   main   aside"
    "footer footer footer";
}

.header{ 
    grid-area: header;
    text-align: center;
    max-width: 1300px;
    max-height: 550px;
    justify-content: center;
    align-content: center;
    margin: 10px 350px;
    background-image:url("../image/logo.jpg");
    background-repeat: no-repeat;
}

.navbar{
    grid-area: navbar;
}


/* subtitulos */

.h2{
    margin: auto;
    padding: 1rem 5rem 1rem 5rem;
    color:  rgb(181, 189, 185);
    text-align: center;
    font-size: 30px;
    text-decoration:solid;
    font-family: 'Kalam', cursive;
}

.h2:hover{
    transform: scale(1,2);
}

.h3{
    font-size: 30px;
    font-family: 'Kalam', cursive;
    color:  rgb(255, 255, 255);
}

/* estilo de los parrafos */

.parrafo{
    margin: auto;
    padding: 10px;
    line-height: 25px;
    color:  rgb(181, 189, 185);
    text-align: start;
    font-family: 'Kalam', cursive;
    text-decoration:solid;
    font-size: 21px;

}

.aside{
    grid-area: aside;
    height: auto;
    margin: 1rem 1rem 1rem 1rem;
    background-color: #65a188a1;
    color: aliceblue;
    font-weight: 20px;
    font-size: 22px;
    border-radius: 8px;
    box-shadow: 0 0 6px black;
    width: 300px;
    text-align: center;
    justify-content: center;
    font-family: 'Kalam', cursive;

}

.footer{
    grid-area: footer;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 200;
    justify-content: center;
    color: rgb(101, 161, 136);
    font-family: 'Kalam', cursive;
}

.main{
    grid-area: main;
    text-align: center;
    border-radius: 2rem;
    background-color:rgb(255, 255, 255);
    }

.formulario{
    margin: auto;
    padding: auto;
    background-color: #65a188a1;
    max-width: 400px;
    border-radius: 10%;
    box-shadow: 0 0 6px black;
    justify-items: center;
    text-align: center;
    font-family: 'Kalam', cursive;
}

.btn{
    box-shadow: 0 0 6px black;
    margin-bottom: 10px;
}

.form-style{
    margin: 10px 2px 0px 2px;
    border-radius: 5%;
    box-shadow: 0 0 6px black;
}
#nosotros{
    background-image:linear-gradient(rgba(59, 49, 49, 0.603), rgba(73, 70, 70, 0.6)), url("../image/img-nosotros.jpg");
    background-repeat: no-repeat;
    box-sizing: content-box;
    background-size: 1000px;
}

#corporales{
    background-image:linear-gradient(rgba(59, 49, 49, 0.603), rgba(73, 70, 70, 0.6)), url("../image/imgcorporal.jpg");
    background-repeat: no-repeat;
    box-sizing: content-box;
    background-size: 1000px;
}

#faciales{
    background-image:linear-gradient(rgba(59, 49, 49, 0.603), rgba(73, 70, 70, 0.6)), url("../image/img-faciales.jpg");
    background-repeat: no-repeat;
    box-sizing: content-box;
    background-size: 1000px;
}

/*mobile styles*/
@media only screen and (min-width: 400px) and (max-width:700px)
{
    .aside{ 
        background-color: darkblue;

    }

    .footer{
        background-color: black;
    }

    .form-style{
        width: 100px;
    }

    .main{
        width: auto;
        background-color: rgb(188, 119, 202);
    }
}

